<div class="parent-book-contents">
  <div class="parent-book-header">
    ご家庭から
  </div>

  <div class="parent-book-main">
    <h2 class="parent-book-title">情報を入力</h2>
    <h3 class="parent-sub-title">※お休みする場合は「出欠確認・記入者名・ご家庭での様子」のみ記入してください※</h3>
    
    <%= form_with model: @parent_book, url: parent_books_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>


    <div class="new-book">
       <div class="book-detail">     
         <div class="weight-bold-text">
            出欠確認
            <span class="indispensable">必須</span>
         </div>
         <%= f.collection_select(:attendance_id, Attendance.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
       </div>

      <div class="weight-bold-text">
        記入者名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :parent_name, class:"book-text", id:"item-name" %>

      <div class="weight-bold-text">
          ご家庭での様子
          <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :parent_comment, class:"book-text", id:"item-info" %>

      <div class="weight-bold-text">
        体温
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :temperature, class:"book-text", id:"item-name", placeholder:"記入例）36.5度" %>

      <div class="weight-bold-text">
        朝食
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :breakfast, class:"book-text", id:"item-name" %>

      <div class="book-detail">
          <div class="weight-bold-text">
            機嫌
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:mood_id, Mood.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <div class="book-detail">
          <div class="weight-bold-text">
            お迎え時間
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:greeted_time_id, GreetedTime.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <div class="weight-bold-text">
        お迎えに来る人
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :greeted_name, class:"book-text", id:"item-name" %>

      <div class='weight-bold-text'>
        緊急連絡先
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :tell_number, class:"book-text", id:"phone-number", placeholder:"例）09012345678",maxlength:"11"%>
    </div>





 
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "提出する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>