<div class="main">
  <div class="inner">
    <div class="register__wrapper">
      <p class="register__heading">
        <%= @register.title %>
      </p>    
      <div class="register__manage">
          <%= link_to "編集する", edit_register_path(@register.id), method: :get, class: :register__btn %>
          <%= link_to "削除する",  register_path(@register.id), method: :delete, class: :register__btn %>
      </div>
    </div>
    <div class="register-form">
      <div class='register-form-top'>
        <div class='register-top-title'>
          コメント
        </div>
      </div>
      <div class='register-form-main'>
        <div class="register-comment">
          <%= @register.general_comment %>
        </div>
      </div>
      <% if @register.image.presence %>
        <div class="register__image">
          <%= image_tag @register.image %>
        </div>
      <% else %>
        <div class="blank">画像はありません</div>
      <% end %> 
    </div>
  </div>
</div>


