<!DOCTYPE html>
<html>
  <head>
    <title>CONTACT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class='top-page-header'>
    <div class='nav'>
     <div class='class_name'>
        <%= link_to 'CONTACT', root_path, class: "class_name" %>
     </div>
     <ul class='lists-right'>
       <% if user_signed_in? %>
        <li><%= link_to current_user.first_name, "/", class: "header-btn" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-btn" %></li> 
       <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "header-btn" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "header-btn" %></li>
       <% end %>
       <% if user_signed_in? %>
         <% if current_user.admin? %>
           <%= link_to '投稿する', new_register_path, class: "header-btn" %>
         <% end %>
       <% end %>
     </ul>
    </div>
   </header>
    <%= yield %>
  </body>
</html>
